section.cats
	.container
		.row
			.col-12.col-md-6.col-lg-3
				.cats__img
					img(src='/images/icons/creative-design.png')
				h4.cats__title Creative Design
				p.cats__info Your logo is the very heart of  identity, let our designers deliver the perfect dreamy design for your business.
			.col-12.col-md-6.col-lg-3
				.cats__img
					img(src='/images/icons/web-dev.png')
				h4.cats__title Web Development
				p.cats__info What separates us from all other web design agencies is the ability to offer the most User Friendly Experience.
			.col-12.col-md-6.col-lg-3
				.cats__img
					img(src='/images/icons/digital-marketing.png')
				h4.cats__title Digital Marketing
				p.cats__info Photography is the core of everything we do, photography equipment, camera and reviews, photography articles.
			.col-12.col-md-6.col-lg-3
				.cats__img
					img(src='/images/icons/production.png')
				h4.cats__title Production
				p.cats__info Graphic design is a process of visual and problem solving through the use of type, space, image & color.


