section.home-slides
	.swiper-container
		.swiper-wrapper
			.swiper-slide.home-slides__item(style="background-image:url('./images/Bg.jpeg')")
				.container.home-slides__item-inner
					h2.home-slides__item-title Creative!
					p.home-slides__item-subTitle Our strategists will help you set an objective and choose your tools, developing a plan that is custom-built for your business.
			.swiper-slide.home-slides__item(style="background-image:url('./images/Bg.jpeg')")
				.container.home-slides__item-inner
					h2.home-slides__item-title Creative!
					p.home-slides__item-subTitle Our strategists will help you set an objective and choose your tools, developing a plan that is custom-built for your business.
		.swiper-button-prev
		.swiper-button-next
		.swiper-pagination