section.section.advantages
	.advantages__row
		.col-lg-6.advantages__wrapper.advantages__wrapper--1
			.advantages__container
				.row
					.col-sm-6
						.advantages__l-img
							img(src='/images/icons/fully-resp.png')
						h4.advantages__l-title Fully Responsive
						p.advantages__l-info Whole Graphic design is a process of visual and problem solving through the use of type, space, image & color, so don't be worry we care!
					.col-sm-6
						.advantages__l-img
							img(src='/images/icons/free-update.png')
						h4.advantages__l-title Free Updates
						p.advantages__l-info Whole impresses you with the fully responsiveness and highly customization. We did it in a combination of very clean and flexible design.

					.col-sm-6
						.advantages__l-img
							img(src='/images/icons/powerful-features.png')
						h4.advantages__l-title Powerful Features
						p.advantages__l-info Whole impresses you with the fully responsiveness and highly customization. We did it in a combination of very clean and flexible design.

					.col-sm-6
						.advantages__l-img
							img(src='/images/icons/friendly-support.png')
						h4.advantages__l-title Friendly Support
						p.advantages__l-info Whole Graphic design is a process of visual and problem solving through the use of type, space, image & color, so don't be worry we care!


		.col-lg-6.advantages__wrapper.advantages__wrapper--2
			.advantages__container
				h2.advantages__r-title Imagine & Create, <br> We make it so simple!
				p.advantages__r-info We make sure to provides unlimited collection of elements, options & shortcodes. All Whole elements can be easily styled, edited and modified in little easy steps.

				.advantages__progress-info-wrapper
					.advantages__progress-title-percent
						h5.advantages__progress-title Marketing
						h5.advantages__progress-percent 95%
					.advantages__progress-line
						.advantages__progress-line-inner(style='width: 95%')

				.advantages__progress-info-wrapper
					.advantages__progress-title-percent
						h5.advantages__progress-title Development
						h5.advantages__progress-percent 87%
					.advantages__progress-line
						.advantages__progress-line-inner(style='width: 87%')

				.advantages__progress-info-wrapper
					.advantages__progress-title-percent
						h5.advantages__progress-title User Experience
						h5.advantages__progress-percent 81%
					.advantages__progress-line
						.advantages__progress-line-inner(style='width: 81%')

				.advantages__progress-info-wrapper
					.advantages__progress-title-percent
						h5.advantages__progress-title Branding
						h5.advantages__progress-percent 70%
					.advantages__progress-line
						.advantages__progress-line-inner(style='width: 70%')