section.section.way
	.container-fluid.text-center
		h4.section__subTitle How It Works?
		h2.section__title Our Work Process 
		p.section__info Follow our latest news and thoughts which focuses exclusively on design, art, vintage, and also our latest work updates.

	.container
		.row
			.col-md-6.col-lg-3.way__wrapper
				.way__img
					img(src='/images/icons/brainstorm.png')
				h5.way__title
					span 01.
					| &nbsp;Brainstorming
				p.way__info The first step is to take all the project’s data & start thinking about it!
			.col-md-6.col-lg-3.way__wrapper
				.way__img
					img(src='/images/icons/prototype.png')
				h5.way__title
					span 02.
					| &nbsp;Prototype
				p.way__info To know everything about the product, customers & the  competitors.
			.col-md-6.col-lg-3.way__wrapper
				.way__img
					img(src='/images/icons/design.png')
				h5.way__title
					span 03.
					| &nbsp;Design
				p.way__info TStart to work on the design taking in mind all the data you have collected.
			.col-md-6.col-lg-3.way__wrapper
				.way__img
					img(src='/images/icons/evaluation.png')
				h5.way__title
					span 01.
					| &nbsp;Evaluation
				p.way__info Reach a conclusion from the investigations about the product you work on.