section.section.works-preview

	.container-fluid.text-center
		h4.section__subTitle Creative & Talented
		h2.section__title Check Our Work 1
		p.section__info We love what we do and we do it with passion. We value the experimentation, the reformation of the message, and the smart incentives.
	.works-preview__wrapper.row
		.col-xl-6.p-0.m-0
			.row.m-0
				.col-6.p-0.m-0
					a(href='#' style="background-image:url('/images/works/Project-1.jpeg')").works-preview__item
				.col-6.p-0.m-0
					a(href='#' style="background-image:url('/images/works/Project-2.jpeg')").works-preview__item
				.col-6.p-0.m-0
					a(href='#' style="background-image:url('/images/works/Project-3.jpeg')").works-preview__item
				.col-6.p-0.m-0
					a(href='#' style="background-image:url('/images/works/Project-4.jpeg')").works-preview__item
		.col-xl-6.p-0.m-0
			a(href='#' style="background-image:url('/images/works/Project-5.jpeg')").works-preview__item.works-preview__item--large

	.container.text-center
		a(href='#').works-preview__show-more Show more works